h2 Values of CryptoCurrencies
= button_to 'BTC'
= link_to 'What is Bitcoin', "https://en.wikipedia.org/wiki/Bitcoin"
p
= button_to 'ETH'
= link_to 'What is Etherium', "https://en.wikipedia.org/wiki/Ethereum"
p
= button_to 'Nasdaq'
= link_to 'What is Nasdaq', "https://en.wikipedia.org/wiki/Nasdaq"
